<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Stores and Brands</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="/img/shoe_icon.png" alt="shoe icon" class="float_left">
        <div>
          <center class="site_title">Foot Warehouse</center>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
