<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <title>Stores and Brands</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Stores and Brands</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
